.formWrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.form {
  width: 500px;
  height: 250px;
  background-color: teal;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.inputLabel {
  color: rgb(10, 10, 10);
  font-size: 18px;
  font-weight: normal;
}
.input {
  margin: 0 auto;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
.submitButton {
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  background-color: transparent;
  border: 0 solid transparent;

  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 15px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
